html, body { 
    height:100%;
    margin:0;
    overflow: auto;
    padding:0; 
    width:100%;
    }

.dropbtn {
    background: transparent;
    border: none;
    color: #9E9E9E;
    cursor: pointer;
    font-size: 1.8rem;
    padding: 35px 35px 16px;
  }

.dropdown-item{
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #222;
    font-weight: bold;
}
    
.dropdown {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 93%;
}
  
.dropdown-content {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  display: none;
  min-width: 15%;
  padding: 5px 0;
  position: absolute;
  right: 2%;
  top: 43%;
  z-index: 1;
  font-size: 2rem;
}

.dropdown-content a {
  color: white;
  display: block;
  font-family: Cairo;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  }

.show {
    display:block;
}

.inline{
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
}

h1{
    color: #B22519;
    font-size: 34px;
    text-align: center;
}

.img-wrap{
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.center{
    align-items: center;
}

.start{
    align-items: flex-start;
}

.end{
    align-items: flex-end;
}

.img{
    cursor: pointer;
    max-width: 65%;
}

.row{
    display: flex;  
}

.img-num{
    text-align: center;
    width: 65%;
}

.img-section{
    background-image: url("./assets/bg-2.png");
    background-size: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.title{
    font-family: "Days One";
    font-size: 60px;
    font-weight: normal;    
    margin: 0;
    text-align: center;
}

.desc{
    font-family: Cairo;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 10px;

}

.img-num{
    font-family: Cairo;
    font-size: 20px;
}

.text{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-right: 5.5%;
    width: 28%;
}

.modal {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100vw;
}

.modal.open {
      opacity: 1;
      transition-delay: 0s;
      visibility: visible;
}
   
.modal-bg {
      background: white;
      height: 100%;
      position: absolute;
      width: 100%;
}
    
.modal-container {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 30px;
    position: relative;
}

.modal-wrap{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.modal.modal-close {
    appearance: none;
    background: none;
    border: 0;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.modal-exit{
    background: transparent;
    border: none;
    color: #9E9E9E;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    margin: 12px 0;
    width: 30px;
}

.large-img{
    width: 90%;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    width: 62%;
}

.imgs-container{
     padding:2% 8px 0;
}

.wrapper{
    text-align: center;
}

.jobs{
    text-align: center;
}

.jobs-title{
    color: black;
    font-family: Cairo;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    line-height: 135px;
    margin-bottom: 0;
}

h5{
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 66px;
    margin: 0;
    text-align: center;
}

.job{
    color: #437CB7;
    cursor: pointer;
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 34px;
    margin: 0;
    text-align: center;
}

.social{
    color: #437CB7;
    cursor: pointer;
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height:36px;
    margin: 0;
    text-align: center;
}

.contact-us{
    color: #000000;
    font-family: Cairo;
    font-size: 72px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 15px;
}

.email{
    color: black;
    font-family: Cairo;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

.watermark{
    color: black;
    display: block;
    font-family: Cairo;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    text-align: center;
}

.jobs-section{
    background-image: url('./assets/bg-3.png');
    background-size: 100%;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

}

.contact-section{
    background-image: url('./assets/bg-4.png');
    background-size: 100%;;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.img-text{
    font-family: Cairo;
    font-size: 20px;
    line-height: 1em;
    text-align: center;
    width: 90%;
}

.main-section{
    min-height: 100vh;
    align-items: center;
    background-image: url("./assets/bg-1.png");
    background-size: 100%;
    display: flex;
    justify-content: flex-start;
}

.exit-wrapper{
    text-align: end;
    width: 90%;
}

@media screen and (max-width: 1024px) {
    .inline{
        align-items: center;
        flex-direction: column;
    }
    .title{
        font-size: 50px;
        margin-top: 10px;
    }

    .desc {
        font-size: 20px;
    }

    .text{
        align-items: left;
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 20em;
    }

    .img-wrap{
        display: inline-flex;
        width: 48%;
    }

    .large-img{
        width: 100%;
    }
    .img{
        cursor: pointer;
    }

    .contact-us{
        font-size: 50px;
    }
}

.main-img{
    padding-left: 12%;
    padding-top: 7%;
    width: 95%;
}

 @media screen and (max-width: 450px){

    .img{
        max-width: 80%;
    }

    .img-num{
        width: 80%;
        margin-top: 0;
    }

    .desc{
        font-size: 18px !important;
        line-height: 1.8rem;
    }

    .main-img{
        width: 90%;
        padding-left: 0; 
        padding-top: 0;
    }

    .main-section{
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 100vh;
        min-height: 100vh;
    }

    .start{
        align-items: center;
    }

    .end{
        align-items: center;
    }

    .modal-wrap{
        height: 80%;
    }
    
    .exit-wrapper{
        width: 100%;
    }

    .jobs-section{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contact-section{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img-section{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text{
        align-items: center;
    }

    .img-wrapper{
        height: unset;
        width: 100%;
    }
    .img-text{
        font-size: 20px;
    }
    .dropbtn{
        font-size: 1.4rem;
    }
    
    .dropdown-content{
        font-size: 1rem;
        padding-right: 20px;
        padding-left: 20px;
    }

    .imgs-container{
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1090px) {
    .desc{
        font-size: 18px !important;
        line-height: 1.9rem;

    }
    .title{
        font-size: 54px;
    }
    .dropdown-content{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1090px) and (max-width: 1160px) {
    .desc{
        font-size: 19px !important;
        line-height: 2rem;
        
    }
    .title{
        font-size: 55px;
    }
    .dropdown-content{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1160px) and (max-width: 1220px) {
    .desc{
        font-size: 20px !important;
        line-height: 2.1rem;

    }
    .dropdown-content{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1220px) and (max-width: 1275px) {
    .desc{
        font-size: 21px !important;
        line-height: 2.2rem;

    }

    .title{
        font-size: 63px;
    }
    .dropdown-content{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1275px) and (max-width: 1324px) {
    .desc{
        font-size: 22px !important;
        line-height: 2.3rem;
        
    }
    .title{
        font-size: 65px;
    }
    .dropdown-content{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1324px) and (max-width: 1424px) {
    .desc{
        font-size: 23px !important;
        
    }
    .dropdown-content{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1390px) and (max-width: 1498px){
    .desc{
        font-size: 25px !important;
        line-height: 2.5rem;
        
    }
    .title{
        font-size: 71px;
    }
    .dropdown-content{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1498px) and (max-width: 1582px){
    .desc{
        font-size: 25px !important;
        line-height: 2.8rem;
        
    }
    .title{
        font-size: 80px;
    }
    .dropdown-content{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1582px) and (max-width: 1690px){
    .desc{
        font-size: 28px !important;
        line-height: 2.8rem;
    }

    .title{
        font-size: 84px;
    }
    .dropdown-content{
        font-size: 1.4rem;
    }
}
@media screen and (min-width: 1690px){
    .desc{
        font-size: 34px !important;
        line-height: 3.5rem;
    }
    .dropbtn{
        font-size: 3rem;
    }
    .main-section{
        min-width: 1920px;
        min-height: 1080px;
    }

    .img-section{
        min-width: 1920px;
        min-height: 1080px;
    }

    .title{
        font-size: 98px;
    }

    .img-num{
        margin-bottom: 8%;
        font-size: 24px;
    }

    .img-text{
        font-size: 33px;
        line-height: 1.5em;    
    }

    .modal-exit{
        font-size: 33px;
        height: unset;
    }
}